html
    head 
        title Employee List 
        link(rel="stylesheet", href="/css/styles.css")
    body 
        if info
            div.info-message
                h1= message
                a(href="/employees") Back to Employees List
        else
            h1 Employees List 
            table 
                thead 
                    tr 
                        th Name 
                        th Email 
                        th Salary 
                        th Level 
                        th Years 
                tbody 
                    each employee in employees 
                        tr 
                            td= employee.name 
                            td= employee.email    
                            td= employee.salary    
                            td= employee.level    
                            td= employee.yearsOfExperience    